@import "assets/styles/index.scss";

.toggleSwitch {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid $gray5;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &__active {
    background-color: $green;
  }

  &:hover {
    background-color: $salad;
  }
}

.toggleSwitch::before {
  content: "✔";
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.toggleSwitch__active::before {
  opacity: 1;
}
